modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 21349
externalPort = 3000

[[ports]]
localPort = 25513

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXI_ENV = "production"

[userenv.development]
ADMIN_JWT_SECRET = "cd02900fe7b860407837941ff03c5c989813e5718b8f5e9dad619f83b7fde42d"
SITE_URL = "https://4505cb05-d89f-4d18-bbed-a41b0ec624f0-00-2tcu63ldrngx6.riker.replit.dev"
